html,
body {
    padding: 0;
    box-sizing: border-box;
    background-color: sandybrown;
    font-family: 'Times New Roman', Times, serif;
}

.div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: ". cima . " ". conteudo . " ". . . ";
    height: 100vh;
    width: 100vw;
}

.container {
    grid-area: conteudo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1.1vh;
    flex-wrap: nowrap;
}

a {
    display: inline-block;
    color: navy;
    padding: 0;
    text-decoration: none;
}

a:hover {
    color: blue;
}

h3 {
    grid-area: cima;
    text-align: center;
    font-size: 35px;
    margin: 0;
    margin-top: 1.6vh;
}

p {
    font-size: 45px;
    text-align: center;
}

.botao {
    size: 25px;
    height: 10vh;
    width: 20vw;
    background-color: sienna;
    border-radius: 100%;
    font-size: 35px;
    border-width: 5px;
    margin: 3vh;
}

.meio {
    align-items: center;
    justify-content: center;
    text-align: center;
}

label {
    font-size: 30px;
}

input {
    font-size: 20px;
}