body {
    margin: 100px;
    background-color: sandybrown;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center
}

.coluna {
    float: left;
    width: 33.33%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.coluna img {
    width: 350px;
    height: 350px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}